/*
Colour reference
https://www.pinterest.com/pin/332984966185733406/
#1b2726
#3c5148
#6b8e4e
#b2c5b3
#d5ddde
*/

.navbar {
    margin-bottom: 0;
}

.carousel .item img {
    width: 100%;
}

.footer {
    color: #fff;
    background-color: #3c5148;
    border-top: 7px solid #d5ddde;
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer a, .footer a:hover {
    color: #fff;
}

.footer .widget.ContactForm h2 {
    margin-top: 0;
}

.footer .widget.ContactForm .contact-form-widget,
.footer .widget.ContactForm .contact-form-widget .contact-form-name,
.footer .widget.ContactForm .contact-form-widget .contact-form-email,
.footer .widget.ContactForm .contact-form-widget .contact-form-email-message {
    max-width: none;
}

.footer #ContactForm1_contact-form-submit {
    font-size: 14px;
    height: auto;
    padding-left: 30px;
    padding-right: 30px;
    background-color: transparent;
    background-image: none;
    border: 1px solid #fff;
}

#gsInformerID-LdG1G2wEj4r8AY {
    width: 100% !important;
    margin-top: 30px;
}
