/*
Colour reference
https://www.pinterest.com/pin/332984966185733406/
#1b2726
#3c5148
#6b8e4e
#b2c5b3
#d5ddde
*/

.navbar {
    margin-bottom: 0;
}

.carousel .item img {
    width: 100%;
}

.footer {
    color: #fff;
    background-color: #3c5148;
    border-top: 7px solid #d5ddde;
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer a, .footer a:hover {
    color: #fff;
}

.footer form input,
.footer form textarea,
.footer form button,
.footer form button:hover {
    color: #fff;
    background-color: transparent;
}

.footer form button {
    padding-left: 30px;
    padding-right: 30px;
}

.footer form ::-webkit-input-placeholder {
  color: #fff;
}
.footer form ::-moz-placeholder {
  color: #fff;
}
.footer form :-ms-input-placeholder {
  color: #fff;
}
.footer form :-moz-placeholder {
  color: #fff;
}

#gsInformerID-LdG1G2wEj4r8AY {
    width: 100% !important;
    margin-top: 30px;
}
